<h4>Formularios <small>template</small></h4>
<hr>

<!-- Referencia al objeto -->
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate">

  <div formGroupName="nombreCompleto">

    <!-- [ngClass]="{ 'has-danger': !forma.get('nombre').valid }" -->
    <div class="form-group row" [ngClass]="{ 'has-danger': !forma.controls['nombreCompleto'].controls['nombre'].valid }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre">

        <div class="form-control-feedback" *ngIf="forma.get('nombreCompleto.nombre').errors?.required">
          El campo es requerido
        </div>

        <div class="form-control-feedback" *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength">
          Minimo 3 caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Username</label>
    <div class="col-md-8">

      <input class="form-control"
             type="text"
             placeholder="Usuario"
             formControlName="username">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Password"
             formControlName="password1">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Repetir contraseña"
             formControlName="password2">
    </div>
  </div>




    <div class="form-group row">
      <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">

      <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index" [formControlName]="i" type="text" class="form-control">

    </div>

    <button (click)="agregarPasatiempo()" type="button" class="btn btn-primary">Nuevo</button>

  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>



  {{forma.valid}}
  <br>
  {{forma.status}}

</form>
