<h4>Formularios <small>Template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" no-validate="">

  <div>

    <div class="form-group row" [ngClass]="{ 'has-danger': (nombre.errors?.minlength || nombre.errors?.required) && nombre.touched }">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="3"
               required
               #nombre="ngModel">

         <div *ngIf="nombre.errors?.required" class="form-control-feedback">
           Este campo es requerido.
         </div>

         <div *ngIf="nombre.errors?.minlength" class="form-control-feedback">
           Por lo menos {{ nombre.errors.minlength.requiredLength }} caracteres.
         </div>
         
         
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               placeholder="Apellido"
               [(ngModel)]="usuario.apellido"
               required
               #apellido="ngModel">

        <div *ngIf="apellido.errors?.required">
          Este campo es requerido.
        </div>

      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             name="correo"
             placeholder="Correo electrónico"
             [(ngModel)]="usuario.correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel">

        <div *ngIf="correo.errors?.required">
          Este campo es requerido.
        </div>

        <div *ngIf="correo.errors?.pattern">
          Introduzca un correo valido, por favor.
        </div>      

    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>
